{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}

{# Meta Description #}
{% block meta_description %} Cloudhead Technologies is an Information Technology Solutions
    & Services provider, specializing in Web and Application Development, Mobile Application,
    Business Process Operations & Automations, E-commerce, ISO Consulting - Audits - Certifications,
    Process Consulting, Cloud and IT Security Consulting and Training provider.{% endblock %}

{# Content goes here #}
{% block content %}
<div class="services_con portfolio">
	<p>
		Our Strategy focus on following:
	</p>
	<ul class="list-group portfolio_items">
		<li class="list-group-item"><p><strong>Mantra :: </strong>Simple best fit effective solution in competitive pricing</p></li>
		<li class="list-group-item"><p><strong>Vision :: </strong>Becoming first choice of Customer through our people, solutions and services</p></li>
		<li class="list-group-item"><p><strong>Mission :: </strong>Providing best fit solution to overcome challenges of customer and meeting their business goals</p></li>
	</ul>
</div>
<div class="container services_con box-shadow-1 portfolio_box">
<div class="portfolio_box_heading"><h3>OUR CLIENTS</h3></div>
	<section id="demos">
		<div class="row">
			<div class="large-12 columns">
				<div class="owl-carousel owl-theme owl-loaded owl-drag">
				<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2775px, 0px, 0px); transition: 0.25s; width: 8880px;"><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c9.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c10.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c11.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c12.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c13.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c14.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c15.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c16.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c1.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c2.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item active" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c3.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item active" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c4.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item active" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c5.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item active" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c6.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c7.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c8.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c9.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c10.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c11.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c12.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c13.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c14.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c15.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c16.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c1.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c2.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c3.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c4.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c5.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c6.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c7.jpg" class="img-responsive portfolio_img" alt="">
					</div></div><div class="owl-item cloned" style="width: 267.5px; margin-right: 10px;"><div class="item">
						<img src="img/clients/c8.jpg" class="img-responsive portfolio_img" alt="">
					</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
				<script>
					$(document).ready(function() {
						var owl = $('.owl-carousel');
						owl.owlCarousel({
							items: 4,
							loop: true,
							margin: 10,
							autoplay: true,
							autoplayTimeout: 1500,
							autoplayHoverPause: true
						});
						$('.play').on('click', function() {
							owl.trigger('play.owl.autoplay', [1000])
						})
						$('.stop').on('click', function() {
							owl.trigger('stop.owl.autoplay')
						})
					})
				</script>
			</div>
		</div>
	</section>
</div>
<div class="services_con portfolio cf" style="padding-top: 0;">
	<div class="portfolio_content cf">
			<div class="col-md-12 portfolio_pics">
				<div class="portfolio_box_heading"><h3>OUR WORKS</h3></div>
				<div class="cf p_items">
					<div class="col-sm-4 p_pic">
						<div class="row">
							<img src=" {{asset('img/portfolio-pics/1.png')}}" class="img-responsive" alt="Website Snapshot">
						</div>
					</div>
					<div class="col-sm-8 p_des">
						<p>We have recently developed an E-commerce site for Y-not INDIA. We have worked on numerous projects and helped our clients to go online with their businesses.
						</p>
					</div>
				</div>
				<div class="cf p_items">
					<div class="col-sm-4 p_pic">
						<div class="row">
							<img src=" {{asset('img/portfolio-pics/2.png')}}" class="img-responsive" alt="Website Snapshot">
						</div>
					</div>
					<div class="col-sm-8 p_des">
						<p>We have experience in web designing in the field of medical services. We have recently worked with Audient and helped them develop a website to promote their products and medical awareness. 
						</p>
					</div>
				</div>
				<div class="cf p_items">
					<div class="col-sm-4 p_pic">
						<div class="row">
							<img src=" {{asset('img/portfolio-pics/3.png')}}" class="img-responsive" alt="Website Snapshot">
						</div>
					</div>
					<div class="col-sm-8 p_des">
						<p>We have worked with travel and tourism based entities and provided them with online solution to attract potential clients.
						</p>
					</div>
				</div>
				<div class="cf p_items">
					<div class="col-sm-4 p_pic">
						<div class="row">
							<img src=" {{asset('img/portfolio-pics/4.png')}}" class="img-responsive" alt="Website Snapshot">
						</div>
					</div>
					<div class="col-sm-8 p_des">
						<p>We have worked with Citcafe.We have developed a landing page website for Citcafe and helped them boost their revenues.
						</p>
					</div>
				</div>
				<div class="cf p_items">
					<div class="col-sm-4 p_pic">
						<div class="row">
							<img src=" {{asset('img/portfolio-pics/5.png')}}" class="img-responsive" alt="Website Snapshot">
						</div>
					</div>
					<div class="col-sm-8 p_des">
						<p>We have worked with GiftsnGreetings and have developed an online portfolio that has helped them promote their products to the online audience.
						</p>
					</div>
				</div>
				<div class="cf p_items">
					<div class="col-sm-4 p_pic">
						<div class="row">
							<img src=" {{asset('img/portfolio-pics/6.png')}}" class="img-responsive" alt="Website Snapshot">
						</div>
					</div>
					<div class="col-sm-8 p_des">
						<p>We have developed websites which caters to educational services and has helped the young minds work on their prospects.
						</p>
					</div>
				</div>
			</div>
	</div>
</div>
{% endblock %}
