{# templates/pages/index.html.twig #}
{% extends 'includes/app.html.twig' %}

{# page title #}
{% block title %} Cloudhead Technologies Private Limited {% endblock %}
{% block keywords %}{% endblock %}
{% block content %}
<div class="works_banner">
    <h1>OUR WORKS</h1>
</div>
<div class="why_work_with_us">
    <p>
    To us, it's not just work - we take pride in the solutions we deliver. We encourage each other to achieve excellence in all endeavours and aren't satisfied until projects meet our own personal high standards. Please take a look at works to see how we will bring your project into existance.
    </p>
    <div class="down_icon"></div>
</div>
<div class="work_body_content cf">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-0 work_content_box">
            <img src="{{asset('img/works/1.jpg')}}" class="img-responsive" alt="Tech Blog">
            <div class="work_body_content_heading">
            <p>Tech-blogs</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-0 work_content_box">
            <img src="{{asset('img/works/2.jpg')}}" class="img-responsive" alt="">
            <div class="work_body_content_heading">
            <p>E-commerce</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-0 work_content_box">
            <img src="{{asset('img/works/3.jpg')}}" class="img-responsive" alt="Educational">
            <div class="work_body_content_heading">
            <p>Education</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-0 work_content_box">
            <img src="{{asset('img/works/4.jpg')}}" class="img-responsive" alt="Informational Blog">
            <div class="work_body_content_heading">
            <p>Entertainment</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-0 work_content_box">
            <img src="{{asset('img/works/5.jpg')}}" class="img-responsive" alt="Online Portfolio">
            <div class="work_body_content_heading">
            <p>Healtcare</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-0 work_content_box">
            <img src="{{asset('img/works/6.jpg')}}" class="img-responsive" alt="Restaurant">
            <div class="work_body_content_heading">
            <p>Blog</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-0 work_content_box">
            <img src="{{asset('img/works/7.jpg')}}" class="img-responsive" alt="Travel and Tourism">
            <div class="work_body_content_heading">
            <p>Online Portfolio</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-0 work_content_box">
            <img src="{{asset('img/works/8.jpg')}}" class="img-responsive" alt="Cafe">
            <div class="work_body_content_heading">
            <p>Restaurant</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-0 work_content_box">
            <img src="{{asset('img/works/9.jpg')}}" class="img-responsive" alt="Travel and Tourism">
            <div class="work_body_content_heading">
            <p>Travel and Tourism</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 col-sm-offset-3 col-md-offset-0 work_content_box">
            <img src="{{asset('img/works/10.jpg')}}" class="img-responsive" alt="Cafe">
            <div class="work_body_content_heading">
            <p>Cafe</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}